<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Don't rewrite CSS and JS files" stopProcessing="true">
					<match url=".*\.(css|js|png|jpg)$" />
					<action type="None" />
				</rule>
                <rule name="Don't rewrite 404.php" stopProcessing="true">
                    <match url="^views/404\.php$" />
                    <action type="Rewrite" url="/404.php" />
                </rule>
                <rule name="Don't rewrite index.php" stopProcessing="true">
                    <match url="^index\.php$" />
                    <action type="None" />
                </rule>
                <rule name="Rewrite to index.php">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?action={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Rewrite to index.php with query string" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="/index.php?url={R:1}" appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>